.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background: linear-gradient(to right, #0af, #00ff6c);
}

header h2 {
  text-align: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.result {
  display: grid;
  float: right;
  grid-column: 1 / -1;
  margin-right: 4rem;
  grid-template-columns: repeat(4, 5.5rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 5rem);
}
  
.calculate .keypad {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}

.keypad, .display {
  width: 80%;
  height: 20px;
  background-color: #9e9999;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.keypad .btn-Operator {
  color: #333;
  background-color: orange;
  transition: 0.2s ease;
}  
  
.display {
  color: white;
  text-align: right;
  background-color: gray;
  border: 1px solid grey;
  transition: 0.2s ease;
}

.keypad button {
  background-color: whitesmoke;
}
  
.keypad button:hover {
  background-color: wheat;
}
  
.z {
  grid-column-start: 1;
  grid-column-end: 3;
}
  
.keypad .btn-Operator:hover {
  background-color: orangered;
}