* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculate {
  background-color: #f6f8f9;
  width: 20rem;
  border: 0.5px solid #f6f8f9;
}

.display {
  height: 48px;
  background-color: #9e9999;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: end;
  color: white;
  word-wrap: break-word;
  word-break: break-all;
}

.display .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
  padding: 1rem;
  text-align: right;
}

.display .current-operand {
  color: white;
  font-size: 2.5rem;
  padding: 1rem;
  text-align: right;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.keypad button {
  height: 48px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0.5px solid #c6c6c6;
  background-color: whitesmoke;
}

.keypad button:hover {
  background-color: wheat;
}

.keypad > button:nth-child(4n),
.keypad > button:nth-child(19) {
  background-color: orange;
  transition: 0.2s ease;
}

.z {
  grid-column: span 2;
}

.quotes {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  padding: 0 1rem;
}
