* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

header h2 {
  text-align: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.result {
  display: grid;
  float: right;
  grid-column: 1 / -1;
  margin-right: 4rem;
  grid-template-columns: repeat(4, 5.5rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 5rem);
}

.keypad,
.display {
  width: 80%;
  height: 20px;
  background-color: #9e9999;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.calculate .keypad {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
}

.keypad .btn-Operator {
  color: #333;
  background-color: orange;
  transition: 0.2s ease;
}

.display {
  color: white;
  text-align: right;
  background-color: gray;
  border: 1px solid grey;
  transition: 0.2s ease;
}

.keypad button {
  background-color: whitesmoke;
}

.keypad button:hover {
  background-color: wheat;
}

.z {
  grid-column-start: 1;
  grid-column-end: 3;
}

.keypad .btn-Operator:hover {
  background-color: orangered;
}
