* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.result {
  width: 80%;
  align-content: center;
  justify-content: center;
  margin-left: 50px;
  margin-top: 100px;
}

.keypad,
.display {
  width: 99%;
  height: 20px;
  background-color: #9e9999;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.calculate .keypad {
  display: grid;
  grid-template-rows: repeat(5, 3fr);
  grid-template-columns: repeat(4, 3fr);
}

.keypad .btn-Operator {
  color: #333;
  background-color: orange;
  transition: 0.2s ease;
}

.display {
  color: white;
  text-align: right;
  background-color: gray;
  border: 1px solid grey;
  transition: 0.2s ease;
}

.keypad button {
  background-color: whitesmoke;
}

.keypad button:hover {
  background-color: wheat;
}

.z {
  grid-column-start: 1;
  grid-column-end: 3;
}

.keypad .btn-Operator:hover {
  background-color: orangered;
}
